@page "/Create/Commodity/Option/{CommodityNo}"

<p>Create Option</p>

<div class="row">
    <center>
        <div class="float-left font-weight-bold">
            <MatH5>옵션Key</MatH5>
            <MatTextField @bind-Value="InputKey"></MatTextField>
        </div>

        <div class="float-left">
            &nbsp;&nbsp;&nbsp;
        </div>

        <div class="float-left font-weight-bold">
            <MatH5>옵션 Values</MatH5>
            <MatTextField @bind-Value="InputValues"></MatTextField>
        </div>
    </center>
    <div class="float-left">
        &nbsp;&nbsp;&nbsp;
    </div>

    <div class="float-left font-weight-bold">
        <p> </p>
        <br /> <br />
        <MatButton Raised="true">SET</MatButton>
        ------
        <MatButton Raised="true">UPDATE</MatButton>
    </div>
</div>

<br /><br /><br />
<div class="row font-weight-bold">
    <MatH5>&nbsp;&nbsp;옵션 이미지 설정</MatH5>
</div>
    <MatTable Items="ViewOptions">
        <MatTableHeader>
            <th>옵션 Key</th>
            <th>옵션 Value</th>
            <th>이미지 여부</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Key</td>
            <td>@context.Value</td>
            <td>@if (context.Images != null) { IsImages = true; } else { IsImages = false; }@IsImages</td>
            <td><MatButton Raised="true">IMAGE</MatButton></td>
        </MatTableRow>
    </MatTable>

  
        <MatH5>상세 페이지 이미지 설정</MatH5>
        <MatFileUpload>ImagesofDetail Upload</MatFileUpload>
 
@code {

}
