
@page "/Get/Commodity"

<a href="/Create/Commodity"><MatButton Raised="true">Create</MatButton></a>

<MatDivider></MatDivider>

<MatTable Items="@Commodities" class="mat-elevation-z5">
    <MatTableHeader>
        <th>CommodityNo</th>
        <th>Name</th>
        <th>Category</th>
        <th>Manager</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.CommodityNo</td>
        <td>@context.Name</td>
        <td>@context.Category</td>
        <td>
            <a href="/Get/Commodity/Option/@context.CommodityNo"><MatButton Raised="true">OptionsDetail</MatButton></a>
            <a href="/Update/Commodity/@context.CommodityNo"><MatButton Raised="true">Update</MatButton></a>    
            <a href="/Delete/Commodity/@context.CommodityNo"><MatButton Raised="true">Delete</MatButton></a>
            <a href="/Detail/Commodity/@context.CommodityNo"><MatButton Raised="true">Detail</MatButton></a>
        </td>
    </MatTableRow>
</MatTable>

<img src="C:\Users\user\Desktop\ComputerScience\Network\Network\Logistics\File\Commodity\대화내용 23.PNG">