
@page "/Get/Commodity"

@* Commodity Get의 경우 ViewModel 따로 필요 없다. *@
<MatButton Raised="true" @onclick="AddDialogSwitch">생성</MatButton>

<MatDivider></MatDivider>

<MatTable Items="@Commodities" class="mat-elevation-z5">
    <MatTableHeader>
        <th>No</th>
        <th>Name</th>
        <th>Category</th>
        <th>Manager</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.CommodityNo</td>
        <td>@context.Name</td>
        <td>@context.Category</td>
        <td>
            <MatButton Raised="true" @onclick="UpdateDialogSwitch">수정</MatButton>
            <MatButton Raised="true" @onclick="DeleteDialogSwitch">삭제</MatButton>
            <a href="/Get/Commodity/CommodityDetail/@context.CommodityNo"><MatButton Raised="true">디테일</MatButton></a>
            <a href="/Get/Commodity/Option/@context.CommodityNo"><MatButton Raised="true">옵션</MatButton></a>
        </td>
    </MatTableRow>
</MatTable>

@if (DeleteDialogIsOpen)
{
    <Delete></Delete>
}

@if (CreateDialogIsOpen)
{
    <Create></Create>
}

@if (UpldateDialogIsOpen)
{
    <Update></Update>
}


@code{
    
}